# api id and api hash (my.telegram.org)
# required
API_ID=9216887
API_HASH=ce1d39da515985815d4b945d75e5c107

# pyrogram session string (@genstr_robot)
# required
SESSION=AgCVAIXpIoEvJyeg1kxFuu1uYsH-jzXiubXB7qqn-BsSfvGjFfi2Y2onb_djgbGgmLHl51tAU3g3FafrZbwkVRk_KlrMNWBpcTmZp5sZOsq2jO3Dw_1W0Jf0B1MX31dvJuFOv0rsHILUrZh_bs2TzfEKgSNJ52heUKXCFR_cKODbgkkrNAM94mXFA6M4bcvuigliRqXCZTq60UkKcogpzo2lbcABUwvqdDDQ5QLpLmTeZcClAs2GyYA-1VU85Y-R1Sip2wMt4vjDHBD1xlrDTKXUuCl9OIRa_k1vUIaQSG2K63EPqJTjwffEYivfi5A59adQplMIf8-QIwUmx-y8TB2SAAAAATQdatQA


# telegram bot token (from @botfather)
#optional
BOT_TOKEN=''

# sudo user ids (separate with space)
# optional
SUDOERS=2110002119 5002156737

# command prefix (separate with space)
# optional
PREFIX=.

# default language for the bot in groups
# optional
LANGUAGE='en'

# custom stream quality for the bot in groups
# optional
QUALITY=high

# default stream mode for the bot in groups
# optional
STREAM_MODE=audio

# if you want restrict user from playing in groups
# optional
ADMINS_ONLY=False

# spotify vars (for playing spotify links or playlist)
# optional
SPOTIFY_CLIENT_ID=''
SPOTIFY_CLIENT_SECRET=''
